@import '../theme/variables.scss';

body {
  //background-color: $fq-white-shade;
  background: linear-gradient(165deg, $fq-white 10%, $fq-white-shade 180%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-block: 0;
  margin-inline: 0;
}