/**
 * File: old-variables.css
 * @author Brooke Kindleman (brooke.kindleman@gmail.com)
 * Date: 15/Jan/2022
 *
 */


$fq-red: #A63038;
$fq-orange:#F39972;
$fq-dusty-pink:#CE9D9C;
$fq-pink:#DC7F81;
$fq-light-green:#99BB7C;
$fq-dark-green:#283E37;
$fq-cyan:#699DA5;
$fq-black:#1B1726;
$fq-tan: #B99D88;
$fq-white:#FBF3E9;

$app-background: #6d837b;
$shadow-color: rgba(36, 46, 61, 0.568);
$header-footer-background: #ece3d8;
$header-footer-foreground: #34413d;
$header-footer-border-op: #B99D88;
$header-footer-border-tr: #b99d88ab;

$other-border: #99bb7c67;
$fq-nav: #2a2830;
$paragraph-bg: #fcfbf9;
$gunmetal-light: #27373fff;
$cafe-noir: #4f3824ff;
$copper-red: #d1603dff;
$maximum-yellow-red: #ddb967ff;
$yellow-green-crayola: #d0e37fff;
$green-sheen: #86ac9fff;
$powder-blue: #b8dbd9ff;
$isabelline: rgb(255, 253, 251);
$wild-blue-yonder: #9eadc8ff;

$uni-black: #090909ff;
$uni-red: #ff858dff;
$uni-orange: #fba961ff;
$uni-yellow: #f9dc5cff;
$uni-green: #88c599ff;
$uni-blue: #7da7b1ff;
$uni-purple: #796a83ff;
$uni-white: #ffffebff;
$uni-grey: #808f85ff;
$uni-brown: #716969ff;
$uni-dark: rgb(33, 22, 41);



$rich-black-fogra-39: #0a0908ff;
$gunmetal: #202b30ff;
$bitter-lime: #c9ff26ff;
$brink-pink: #ff607dff;
$steel-teal: #668f88ff;
$orange-peel: rgb(255, 173, 79);

@forward '.';


@font-face {
  font-family: 'Lato';
  src: url(../theme/font/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato Light';
  src: url(../theme/font/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato Bold';
  src: url(../theme/font/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato Black';
  src: url(../theme/font/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'Manrope';
  src: url(../theme/font/manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Overpass';
  src: url(../theme/font/overpass/Overpass-VariableFont_wght.ttf);

}

@font-face {
  font-family: 'Creato Bold';
  src: url(../theme/font/creato/CreatoDisplay-Bold.otf);
}

@font-face {
  font-family: 'Creato';
  src: url(../theme/font/creato/CreatoDisplay-Regular.otf);
}

@font-face {
  font-family: 'Love';
  src: url(../theme/font/Love.ttf);

}

@font-face {
  font-family: 'Sprinkle';
  src: url(../theme/font/Sprinkle-Regular.ttf);
}

@font-face {
  font-family: 'Unicorn';
  src: url(../theme/font/Unicorn.ttf);
}




.footerBar {
  background: linear-gradient(90deg, rgb(174, 255, 197) 0%, rgb(149, 187, 197) 49%, rgb(156, 107, 187) 100%);
  position: fixed;
  margin-bottom: 0px;
  text-align: right;
  font-size: 1.6vh;
  height: 2vh;
  right: 0;
  bottom: 1vh;
  width: 100vw;
  padding-inline: 3vw;
  padding-bottom: 1vh;
  padding-top: 1.5vh;
  color: $uni-white;
  font-family: 'Sprinkle';
  letter-spacing: 0.4vw;
  filter: drop-shadow(0.3vw 0.5vh 0.2vw rgba(82, 68, 92, 0.658));
}


.navBar {
  background: $fq-nav;
  display: block;
  position: fixed;
  top: 44px;
  right: 12px;
  left: 82vw;
  margin:
    1.2vh 0 1.2vh 0px;
  margin-left: 0vw;
  bottom: 28px;
  float: none;
  font-family: 'Lato Bold';
  color: $orange-peel;
  text-align: right;
  width: auto;
  height: auto;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  padding: 8px;
  border-width: 2px;
  border-color: $other-border;
  border-style: solid;



}

.navBar.list {
  list-style-type: none;
  background: none;
  background-color: #0000;
  border: none;


}

:link:hover {
  filter: drop-shadow(10px 10px 10px 10px #8888);
}

:link {
  color: $uni-white;
  font-style: normal;
  text-decoration: none;
  background: none;
  background-color: #0000;
  transition: 0.2s ease-in;
}


p {
  color: $uni-black;

}


.primaryText {
  display: block;
  position: fixed;
  float: left;
  width: 75vw;
  margin-left: 3vw;
  margin-top: 2vh;
  margin-right: 0px;
  background-color: $powder-blue;
  // background: linear-gradient(180deg, hsl(161, 100%, 94%) 0%, hsl(276, 100%, 95%) 100%);
  color: $uni-black;
  min-width: 20vw;
  height: 70vh;
  min-height: max-content;
  border-radius: 1vw;
  padding-block: 2vh;
  padding-inline: 1.5vw;
  font-family: 'Manrope';
  filter: drop-shadow(0.3vw 0.5vh 0.2vw rgba(82, 68, 92, 0.658));
}





@forward "primaryText";