/**
 * File: variables.css
 * @author Brooke Kindleman (brooke.kindleman@gmail.com)
 * Date: 15/Jan/2022
 *
 */
$raisin-black: #221d23ff;
$gunmetal-light: #27373fff;
$cafe-noir: #4f3824ff;
$copper-red: #d1603dff;
$maximum-yellow-red: #ddb967ff;
$yellow-green-crayola: #d0e37fff;
$green-sheen: #86ac9fff;
$powder-blue: #b8dbd9ff;
$isabelline: rgb(255, 253, 251);
$wild-blue-yonder: #9eadc8ff;

$uni-black: #090909ff;
$uni-red: #ff858dff;
$uni-orange: #fba961ff;
$uni-yellow: #f9dc5cff;
$uni-green: #88c599ff;
$uni-blue: #7da7b1ff;
$uni-purple: #796a83ff;
$uni-white: #ffffebff;
$uni-grey: #808f85ff;
$uni-brown: #716969ff;
$uni-dark: rgb(33, 22, 41);



$rich-black-fogra-39: #0a0908ff;
$gunmetal: #202b30ff;
$bitter-lime: #c9ff26ff;
$brink-pink: #ff607dff;
$steel-teal: #668f88ff;
$orange-peel: rgb(255, 173, 79);

@forward '.';

@font-face {
  font-family: 'Manrope';
  src: url(./font/manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Overpass';
  src: url(./font/overpass/Overpass-VariableFont_wght.ttf);

}

@font-face {
  font-family: 'Creato Bold';
  src: url(./font/creato/CreatoDisplay-Bold.otf);
}

@font-face {
  font-family: 'Creato';
  src: url(./font/creato/CreatoDisplay-Regular.otf);
}

@font-face {
  font-family: 'Love';
  src: url(./font/Love.ttf);

}

@font-face {
  font-family: 'Sprinkle';
  src: url(./font/Sprinkle-Regular.ttf);
}

@font-face {
  font-family: 'Unicorn';
  src: url(./font/Unicorn.ttf);
}

body {
  background: linear-gradient(180deg, hsla(191, 59%, 94%, 1) 0%, hsla(27, 100%, 93%, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.headBar {
  background: linear-gradient(270deg, hsla(356, 100%, 76%, 0.8) 0%, hsla(49, 93%, 67%, 0.3) 100%);
  float: inline-start;
  position: relative;
  border-width: 0vw;
  margin: 0vw;
  border-radius: 1.25vw;
  text-align: start;
  padding-inline-end: 2vw;
  color: $uni-dark;
  letter-spacing: 1vw;
  font-family: 'Sprinkle';
  padding-top: 12px;
  padding-left: 1vw;
  font-size: 32px;
  font-weight: 200;
  min-height: 42px;
  max-height: 20vh;
}

.footerBar {
  background: linear-gradient(90deg, rgb(174, 255, 197) 0%, rgb(149, 187, 197) 49%, rgb(156, 107, 187) 100%);
  position: fixed;
  margin-bottom: 0px;
  text-align: right;
  font-size: 1.6vh;
  height: 2vh;
  right: 0;
  bottom: 1vh;
  width: 100vw;
  padding-inline: 3vw;
  padding-bottom: 1vh;
  padding-top: 1.5vh;
  color: $uni-white;
  font-family: 'Sprinkle';
  letter-spacing: 0.4vw;
}



.navBar {
  background: $uni-purple;
  display: block;
  position: relative;
  margin-top: 2vh;
  margin-right: 2vw;
  margin-left: 0vw;
  float: right;
  font-family: 'Creato Bold';
  color: $orange-peel;
  text-align: right;
  width: 13vw;
  border-radius: 0.75vw;
  font-weight: 500;



}

.navBar.list {
  list-style-type: none;
  background: none;
  background-color: #0000;
  border: none;


}


:link {
  color: $uni-white;
  font-style: normal;
  text-decoration: none;
  background: none;
  background-color: #0000;
}


p {
  color: $isabelline;
}

.primaryText {
  display: block;
  position: fixed;
  float: left;
  width: 75vw;
  margin-left: 3vw;
  margin-top: 2vh;
  margin-right: 0px;
  background: linear-gradient(180deg, hsla(161, 100%, 93%, 0.8) 0%, hsla(276, 100%, 92%, 0.3) 100%);
  color: $uni-black;
  min-width: 20vw;
  height: 70vh;
  min-height: max-content;
  border-radius: 1vw;
  padding-block: 2vh;
  padding-inline: 1.5vw;
  font-family: 'Manrope';
}

.primaryText.unicornParagraph {
  font-family: 'Unicorn';
  font-size: 48vw;
  text-align: center;
  color: $uni-red;
}

@forward "primaryText";