/**
 * @file variables.scss
 * @author Brooke Kindleman (brooke.kindleman@gmail.com) @brooke-k
 * @date 19/Mar/2022
 *
 */


$fq-white: #fafafa;
$fq-white-shade: #e3f2fd;
$fq-brown: #634133;
$fq-brown-sugar: #b86f52;
$fq-sienna: #E0774E;
$fq-morning-blue: #8aa29e;
$fq-dark-chocolate: #241B17;
$fq-black: #0E0C0B;

$background: var($fq-white);
$foreground: var($fq-white);