@import '../theme/variables.scss';

.paragraph {
  display: flexbox;
  background-color: $paragraph-bg;
  color: $fq-black;
  font-family: 'Lato';
  width: auto;
  height: auto;
  flex-grow: 1;
  border-radius: 4px;
  padding: 5px;
  border-width: 2px;
  border-color: $other-border;
  border-style: solid;
  font-size: 14px;
}