@import '../theme/variables.scss';

.primaryText {
  display: block;
  position: fixed;
  float: left;
  width: 75vw;
  margin-left: 3vw;
  margin-top: 2vh;
  margin-right: 0px;
  background: linear-gradient(180deg, hsl(161, 100%, 94%) 0%, hsl(276, 100%, 95%) 100%);
  color: $uni-black;
  min-width: 20vw;
  height: 70vh;
  min-height: max-content;
  border-radius: 1vw;
  padding-block: 2vh;
  padding-inline: 1.5vw;
  font-family: 'Manrope';
  filter: drop-shadow(0.3vw 0.5vh 0.2vw rgba(82, 68, 92, 0.658));
}

.movementText {
  background: linear-gradient(180deg, hsl(143, 100%, 83%) 0%, hsl(273, 100%, 88%) 100%);
  font-size: 4vh;
  height: 12vh;
  width: min-content;
  right: 40vw;
  top: 40vh;
  font-family: 'Manrope';
  color: $uni-black;
  display: flex;
  position: absolute;
}

.gridContainment {
  display: grid;
  position: fixed;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 3vw;
  column-gap: 3vw;
  width: 72vw;
  margin-left: 3vw;
  margin-top: 2vh;
  background-color: $uni-dark;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20vw;
  height: 74vh;
  min-height: max-content;
  border-radius: 0.75vw;
  padding: 3vw;
  box-shadow: 0.3vw 0.5vh 0.2vw rgba(82, 68, 92, 0.658);
  grid-auto-flow: row dense;
  border-width: 0;
  border-color: #FFF8 rgba(82, 68, 92, 0.658) rgba(82, 68, 92, 0.658)#FFF8;
}

div.gridButton {
  background: $uni-dark;
  border: none;
  border-radius: inherit;
  position: sticky;
  content: "";
  box-shadow: 0px 0px 2px 0px #fff0, 0px 0px 2px 0px #fff0, inset 0.5vw 0.5vh 0 0 rgba(250, 244, 255, 0);
  transition: 250ms ease-out;
}

div.gridButton.b1:hover {
  // background: linear-gradient(rgb(255, 119, 176) 5%, rgb(255, 234, 112) 95%);
  background-color: $uni-red;
  box-shadow: 0px 0px 3vw 1vw $uni-red, 0px 0px 0.75vw 0.5vw $uni-white, inset 1vw 1vh 0.2vw 0 rgba(250, 244, 255, 0.4), inset -1vw -1vh 0.2vw 0 rgba(22, 2, 36, 0.4);
  z-index: 1;
}

div.gridButton.b2:hover {
  // background: linear-gradient(rgb(255, 234, 112) 5%, rgb(142, 255, 208) 95%);
  background-color: $uni-orange;
  box-shadow: 0px 0px 3vw 1vw $uni-orange, 0px 0px 0.75vw 0.5vw $uni-white, inset 1vw 1vh 0.2vw 0 rgba(250, 244, 255, 0.4), inset -1vw -1vh 0.2vw 0 rgba(22, 2, 36, 0.4);
  z-index: 1;
}

div.gridButton.b3:hover {
  // background: linear-gradient(rgb(142, 255, 208) 5%, rgb(204, 149, 255) 95%);
  background-color: $uni-yellow;
  box-shadow: 0px 0px 3vw 1vw $uni-yellow, 0px 0px 0.75vw 0.5vw $uni-white, inset 1vw 1vh 0.2vw 0 rgba(250, 244, 255, 0.4), inset -1vw -1vh 0.2vw 0 rgba(22, 2, 36, 0.4);
  z-index: 1;
}

div.gridButton.b4:hover {
  // background: linear-gradient(rgb(204, 149, 255) 5%, rgb(255, 119, 176) 95%);
  background-color: $uni-green;
  box-shadow: 0px 0px 3vw 1vw $uni-green, 0px 0px 0.75vw 0.5vw $uni-white, inset 1vw 1vh 0.2vw 0 rgba(250, 244, 255, 0.4), inset -1vw -1vh 0.2vw 0 rgba(22, 2, 36, 0.4);
  z-index: 1;
}

div.gridButton.shinyOnly {
  background-color: transparent;
  height: 100%;
  width: 100%;
  content: "";
}

div.gridButton.shinyOnly.active {
  z-index: 1;
  background: transparent;
  animation: shining 300ms;
  content: "";
}

@keyframes shining {
  0% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 0%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  10% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  20% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 22%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  30% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 37%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  40% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  50% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 62%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  60% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 78%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  70% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 84%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  80% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 93%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  90% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 97%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }

  100% {
    background: linear-gradient(75deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  }
}