@import '../theme/variables.scss';

@font-face {
  font-family: 'Unicorn';
  src: url(../theme/font/Unicorn.ttf);
}


.primaryText {
  display: block;
  position: fixed;
  float: left;
  width: 75vw;
  margin-left: 3vw;
  margin-top: 2vh;
  margin-right: 0px;
  background-color: $powder-blue;
  // background: linear-gradient(180deg, hsl(161, 100%, 94%) 0%, hsl(276, 100%, 95%) 100%);
  color: $uni-black;
  min-width: 20vw;
  height: 70vh;
  min-height: max-content;
  border-radius: 1vw;
  padding-block: 2vh;
  padding-inline: 1.5vw;
  font-family: 'Manrope';
  filter: drop-shadow(0.3vw 0.5vh 0.2vw rgba(82, 68, 92, 0.658));
}


div.primaryText.unicornParagraph {
  font-family: 'Unicorn';
  font-size: 32vh;
  text-align: center;
  color: $uni-blue;
  transition: 5s ease-in-out;
  z-index: 1;
  width: 36vh;
  height: 36vh;
  margin-left: 16vw;
  margin-right: 0vw;
}

div.primaryText.unicornParagraph:hover {
  background-color: $uni-black;
  color: $uni-black;
  animation: rainbow 2.5s linear;
  //animation: rainbow-bg 2.0s linear;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  font-size: 70vh;
  transform: rotateZ(7200deg);
  width: 76vh;
  height: 76vh;

}

div::before,
div::after {
  z-index: -1;
  position: absolute;
  z-index: -1;
}

@keyframes rainbow {

  100%,
  0% {
    background-color: rgb(127, 0, 255);
    color: rgb(255, 0, 0);
    filter: drop-shadow( rgba(255, 0, 0, 1.00));
  }

  8% {
    background-color: rgb(255, 0, 255);
    color: rgb(255, 127, 0);
    filter: drop-shadow(0vw 0vh 10vw rgba(255, 127, 0, 1.00));
  }

  16% {
    background-color: rgb(255, 0, 127);
    color: rgb(255, 255, 0);
    filter: drop-shadow(0vw 0vh 10vw rgba(255, 255, 0, 1.00));
  }

  25% {
    color: rgb(127, 255, 0);
    filter: drop-shadow(0vw 0vh 10vw rgba(127, 255, 0, 1.00));
  }

  33% {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 255, 0);
    filter: drop-shadow(0vw 0vh 10vw rgba(0, 255, 0, 1.00));
  }

  41% {
    background-color: rgb(255, 127, 0);
    color: rgb(0, 255, 127);
    filter: drop-shadow(0vw 0vh 10vw rgba(0, 255, 127, 1.00));
  }

  50% {
    background-color: rgb(255, 255, 0);
    color: rgb(0, 255, 255);
    filter: drop-shadow(0vw 0vh 10vw rgba(0, 255, 255, 1.00));
  }

  58% {
    background-color: rgb(127, 255, 0);
    color: rgb(0, 127, 255);
    filter: drop-shadow(0vw 0vh 10vw rgba(10, 127, 255, 1.00));
  }

  66% {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 255);
    filter: drop-shadow(0vw 0vh 10vw rgba(0, 0, 255, 1.00));
  }

  75% {
    background-color: rgb(0, 255, 127);
    color: rgb(127, 0, 255);
    filter: drop-shadow(0vw 0vh 10vw rgba(27, 0, 255, 1.00));
  }

  83% {
    background-color: rgb(0, 127, 255);
    color: rgb(255, 0, 255);
    filter: drop-shadow(0vw 0vh 10vw rgba(255, 0, 255, 1.00));
  }

  91% {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 0, 127);
    filter: drop-shadow(0vw 0vh 10vw rgba(255, 0, 127, 1.00));
  }
}

@keyframes rainbow-bg {

  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }

  8% {
    background-color: rgb(255, 127, 0);
  }

  16% {
    background-color: rgb(255, 255, 0);
  }

  25% {
    background-color: rgb(127, 255, 0);
  }

  33% {
    background-color: rgb(0, 255, 0);
  }

  41% {
    background-color: rgb(0, 255, 127);
  }

  50% {
    background-color: rgb(0, 255, 255);
  }

  58% {
    background-color: rgb(0, 127, 255);
  }

  66% {
    background-color: rgb(0, 0, 255);
  }

  75% {
    background-color: rgb(127, 0, 255);
  }

  83% {
    background-color: rgb(255, 0, 255);
  }

  91% {
    background-color: rgb(255, 0, 127);
  }
}