@import '../theme/variables.scss';



div.footerBox {
  background-color: $header-footer-background;
  position: fixed;
  margin-bottom: 0px;
  margin-right: 0;
  height: 20px;
  right: 0;
  bottom: 0;
  width: 100%;
  border-width: 0px;
  border-top-width: 1px;
  border-top-color: $header-footer-border-tr;
  border-bottom-width: 1px;
  border-bottom-color: $header-footer-border-op;
  border-style: solid;
}

div.footerText {
  bottom: 1px;
  font-size: 10px;
  font-family: 'Lato';
  letter-spacing: 0.15vw;
  opacity: 30%;
  color:
    $header-footer-foreground;
  font-weight: normal;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
  padding-top: 4px;
  padding-right: 1.5vw;
  transition: 150ms ease-out;

}

div.footerText:hover {
  opacity: 100%;
}