/**
 * File: header.scss
 * @author Brooke Kindleman (brooke.kindleman@gmail.com)
 * Date: 16/Jan/2022
 *
 */

@use '../theme/variables';


.headerBlock {
  background-color: $french-violet;
  position: relative;
  display: block;
  margin: 0px;
  border: 10px;
  padding: 2%;
  color: #FFF8EB;
  text-align: end;
  font: 'Overpass';
  font-weight: 200;
  min-width: max-content;
}