@import '../theme/variables.scss';

div.headerBox {
  background-color: $header-footer-background;
  float: inline-start;
  position: relative;
  margin: 0px;
  height: 36px;
  border-width: 0;
  border-top-width: 1px;
  border-top-color: $header-footer-border-op;
  border-bottom-width: 2px;
  border-bottom-color: $header-footer-border-tr;
  border-style: solid;
  box-shadow: 0 3px 2px #0000;
  transition: 0.5 ease-in-out;

}



h1.headerLogo {
  margin: 0;
  padding: 4px 0 0 0;
  font-size: 20px;
  font-family: 'Lato Light';
  letter-spacing: 1.6vw;
  color: $header-footer-foreground;
  transition: 375ms ease-in-out;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}


h1::before,
h1::after {
  position: absolute;
  content: "";
  z-index: -1;
}

h1.headerLogo:hover {
  letter-spacing: 0.8vw;
}